<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="animate__animated animate__fadeIn animate__faster">
          <td>XXXXXXX</td>
          <td>
            <img class="small-flag img-fluid" XXXXXXX />
          </td>
          <td>XXXXXX</td>
          <td>XXXXXXXXXXXXXXXX</td>
          <td>
            <a>Ver...</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
